<!DOCTYPE html>
<head>
    <title>Play Tetris!</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <div class="gameContainer">
        <div id="menu" class="main">
            <div id="main">
                <h1>Play Tetris!</h1>
                <ul>
                    <li><button class="button start">Start Game</button></li>
                    <li><button class="button level">Level Select</button></li>
                    <li><button class="button options">Options</button></li>
                </ul>
            </div>
            <div id="pause">
                <h1>Paused</h1>
                <ul>
                    <li><button class="button resume">Resume</buton></li>
                    <li><button class="button options">Options</button></li>
                    <li><button class="button quit">Quit</button></li>
                </ul>
            </div>
            <div id="levelSelect">
                <h1>Level Select</h1>
                <ul>
                    <li>
                        <select id="levelChoice">
                            {% for level in range(1, 21) %}
                            <option value="{{level}}">{{level}}</option>
                            {% endfor %}
                        </select>
                    </li>
                </ul>
                <li><button class="button levelSelect">Confirm</button></li>
            </div>
        </div>
        <canvas id="gameArea" width="700" height="640">Canvas not supported :(</canvas>
    </div>
    <script src="{{ url_for('static', filename='js/tetris_consts.js') }}"></script>
    <script src="{{ url_for('static', filename='js/tetris_util.js') }}"></script>
    <script src="{{ url_for('static', filename='js/tetris_piece.js') }}"></script>
    <script src="{{ url_for('static', filename='js/tetris_board.js') }}"></script>
    <script src="{{ url_for('static', filename='js/tetris_renderer.js') }}"></script>
    <script src="{{ url_for('static', filename='js/tetris_controller.js') }}"></script>
    <script src="{{ url_for('static', filename='js/tetris_ui.js') }}"></script>
</body>