*, *:before, *:after {
    box-sizing: border-box;
}

.gameContainer {
    margin: 0 auto;
    width: 800px;
    height: 700px;
}

#menu {
    position: absolute;
    left: 50%;
    -webkit-transform: translate(-50%, 110px);
    transform: translate(-50%, 110px);
    width: 400px;
    height: 400px;
    border: 1px solid white;
    z-index: 2;
    text-align: center;
    background-color: black;
}

#main, #pause, #levelSelect {
    display: none;
    height: 50%;
    overflow: auto;
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
}

#menu h1 {
    color: white;
}

#menu ul {
    width: 90%;
}

#menu li {
    list-style-type: none;
}

.button {
    display: block;
    margin: 0 auto;
    width: 150px;
    height: 50 px;
}

#gameArea {
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 700px;
    height: 640px;
}
